<div class="footer-wrapper">
  <footer class="cf">
    <div class="available-on">
      <h2>Contact us.</h2>
      <ul>
        <li><a class="sticker external email" href="mailto:hello@madewithbyt.es">email</a></li>
        <li><a class="sticker external twitter" href="http://twitter.com/a_alfredo">@a_alfredo</a></li>
        <li><a class="sticker github external" href="http://github.com/alfredo">Github</a></li>
        <li><a class="sticker bitbucket external" href="https://bitbucket.org/a_alfredo">Bitbucket</a></li>
        <li><a class="sticker linkedin external" href="http://www.linkedin.com/in/aguirrealfredo">Linkedin</a></li>
      </ul>
    </div>
    <div class="footer-extra">
      <h2>About Made with Bytes.</h2>
      <p>
        Made with bytes is a UK based company that provides Consultancy and Web Development.
        Because we are passionated about it we love best practices and working with new technologies.
      </p>
      <p>
        We have experience working with creative agencies and start-ups creating scalable, high-performant, cross-browser,
        multilingual, social-network integrated online applications, for high profile clients.
      </p>
      <p>If you are in need of technical expertise you should <a href="mailto:hello@madewithbyt.es">get in touch!</a></p>
    </div>
  </footer>
</div>
