<div class="footer-wrapper">
  <footer class="cf">
    <div class="available-on">
      <h2>Contact.</h2>
      <ul>
        <li><a class="sticker external email" href="mailto:hello@madewithbyt.es">email</a></li>
        <li><a class="sticker external twitter" href="http://twitter.com/a_alfredo">@a_alfredo</a></li>
        <li><a class="sticker linkedin external" href="http://www.linkedin.com/in/aguirrealfredo">Linkedin</a></li>
      </ul>
    </div>
    <div class="footer-extra">
      <h2>About.</h2>
      <p>
        My name is Alfredo Aguirre and I founded and contract under <em>Made with bytes</em>.
        I am passionate about it, I love best practices and working with new technologies.
      </p>
      <p>
        <em>Made with bytes Ltd</em> is a UK based company that provides Web Development and Consultancy.
        If you are in need of technical expertise you should <a href="mailto:hello@madewithbyt.es">get in touch!</a>
      </p>
    </div>
  </footer>
</div>
