<div class="footer-wrapper">
  <footer class="cf">
    <div class="available-on">
      <h2>Contact.</h2>
      <ul>
        <li><a class="sticker external email" href="mailto:hello@madewithbyt.es">email</a></li>
        <li><a class="sticker external twitter" href="http://twitter.com/a_alfredo">twitter</a></li>
        <li><a class="sticker linkedin external" href="http://www.linkedin.com/in/aguirrealfredo">Linkedin</a></li>
      </ul>
    </div>
    <div class="footer-extra">
      <h2>About.</h2>
      <p>
        My name is Alfredo Aguirre and I am an experienced web developer powered by tea. I love open source, python and all things digital.
      </p>
      <p>
        I am always happy to discuss new exciting projects and business opportunities.
      </p>
    </div>
  </footer>
</div>
